[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pytest = "*"
pytest-django = "*"
ipdb = "*"
pytest-cov = "*"
mixer = "*"
mock = "*"
stripe = "*"

[dev-packages]

[requires]
python_version = "3.6"
